body {
    font-family: 'Alatsi', sans-serif;
    font-weight: 100;
    background-color: black;
    color: white;
}

.main-container {
    height: 100vh;
    width: 100vw;
    /* Remember to change the bg color to black after development */
    background-color: brown;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.main-container canvas{
    height: 100vh;
    width: 100vw;
}

#img-hover{
    width: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 0px;
    border: 6px #00629B solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-container h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 80px;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 10vh;
}

.goDown {
    z-index: 2;
    padding: 10px;
    height: 40px;
    background-color: #00629B;
    border: 1px white solid;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    padding: 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.sub-title{
    color: white;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    border-bottom: 10px #00629B solid;
    font-size: 50px;
    line-height: 25px;
}

.what1 {
    grid-area: w;
    color: #ed5565;
}

.what2 {
    grid-area: ml;
    color: #1ab394;
}

.what3 {
    grid-area: e;
    color: #f8ac59;
}

.whatIDo-grid{
    display: grid;
    grid-template-areas: 
    'w ml e';
    grid-gap: 20px;
    padding: 10px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    justify-content: center;
}

.love1 {
    grid-area: js;
    width: 150px;
}

.love2 {
    grid-area: mongo;
    width: 250px;
}

.love3 {
    grid-area: nodejs;
    width: 150px;
}

.love4 {
    grid-area: fire;
    width: 100px;
}

.love5 {
    grid-area: react;
    width: 180px;
}

.love6 {
    grid-area: django;
    width: 250px;
}

.love-grid {
    display: grid;
    grid-template-areas: 
    'js mongo nodejs'
    'react django fire';
    grid-gap: 80px 100px;
    padding: 10px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    justify-content: center;
}
