 body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color:black;
    padding:5pt;
    margin: 0;
}

.section{border-radius:10px;
    margin: 10px 5px 5px 0px;
    text-align:center;
    font-family: 'Handlee', cursive;
    padding:5pt;
}


#head{/**background-color: blue;**/
    background-image:url("https://laurentussey.files.wordpress.com/2014/03/color-tussey1.jpg");
    background-size:cover;
    font-size:150px;
    color:white;
    border:5px white dashed;
}


#nav {
    background-color:white;
    text-align:left;
}
 
#link{
    background-color:white;
    color:black;
    padding: 2px 5px 2px 5px;
    border-radius:10px;
    font-family:Handlee, cursive;
    font-style:none;
}


#about{
    background-color:White;
        
}

#title{
    margin:5px 5px 5px 5px;
    padding:5px 0px 5px 0px;
    border:5px aqua solid;
    border-radius:10px;
    font-size:36pt;
    color:aqua;
}

#p2{padding:5px 0px 0px 5px;
    text-align:left;
    font-size:40pt;
    color:red;
}

#p3{text-align:center;
    color:red;
    padding:0px 0px 0px 10px;
    font-size: 40pt;
}

#p4{
    text-align:right;
    padding:-10px 5px 0px 0px;
    color:red;
    font-size: 40pt;
}

#more{background-color:White;
    color:Black;
    padding:5pt 0pt 20pt 5pt;
    font-size: 36px;
}

#list{
    color:red;
    font-size: 18px;
}

#soft{
    background-color: white;
}

#ul{
    text-align:left;

}

#cate{
    text-align:left;
    font-size: 36px;
}

#cont{
    background-color: white;
}

#foot{background-color:White;
   
    color:black;
}
.follow{
    border-radius:50%;
    width:50px;
    height:50px;
}

#copy{
    text-align:right;
    color: white;
}

