 body {
    font-family: 'Calibri', cursive;
    font-size: 13pt;
    padding:5pt;
  
}
.in{
	background-color: black;
	margin: 5px 5px 5px 5px;
	border-radius: 20px;
}

.task{
	font-size: 80pt;
	text-align: center;
	color: white;
}

.cir{
	background-color: white;
	border-radius: 80px;
	border-width: 2px;
	border-color:aqua;
	border-style: dashed;
	position: relative;
}


#c1{width: 150pt;
	height: 150pt;
	margin:150px 0px 0px 300px;
}
#c2{
	width: 150pt;
	height: 150pt;
	margin:-200px 0px 0px 550px;
}

#c3{
	width: 150pt;
	height: 150pt;
	margin:-200px 0px 0px 800px;
}

#c4{
	width: 150pt;
	height: 150pt;
	margin:-200px 0px 0px 1050px;
}

.val{
	font-size: 40px;
	margin:0px 0px 0px 0px;
}
