 body {
    font-family: 'Calibri', cursive;
    font-size: 13pt;
    padding:5pt;
  
}
.in{
	background-color: black;
	margin: 5px 5px 5px 5px;
	border-radius: 20px;
}

.task{
	font-size: 80pt;
	text-align: center;
	color: white;
}

.cir{
	font-family: 'Handlee', cursive;
	background-color: white;
	border-radius: 20px;
	border-width: 2px;
	border-color:aqua;
	border-style: solid;
	padding: -20px 0px -20px 0px;
	height: 150px;
}


#c1{
	margin: 0px 300px 5px 300px;
}
#c2{
	margin: 0px 300px 5px 300px;
}

#c3{
	margin: 0px 300px 5px 300px;
}

#c4{
	margin: 0px 300px 5px 300px;
}

.val{
	font-size: 20pt;
}