.bg{
  background-image: url("body-img.jpg");
  background-position: center;
  background-size: fill;
  background-color: #843ba1;
}


#main-title{
  color: white;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  margin-top: 15%;
  margin-right: 1%;
}

#Enigma{
  font-family: "ZCOOL KuaiLe";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

  font-size: 500%;
}

#sub-title{
  color: white;
  text-align: center;
}

#about{
  font-family: "ZCOOL KuaiLe";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  font-size: 100%;
}

#button-sec{
  text-align: center;
  color: purple;
}

#btn-row{
  margin-top: 2%;
  align-items: center;
}


#btn1{
  background-color: white;
  transition-duration: 0.5s;
  transform-style: ease-in-out;
  color: #843ba1;
  vertical-align: center;
  align-items: center;

  font-family: "Titillium Web";
  font-size: 120%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0% 0% 0% 0%;
}

#btn1:hover{
  background-color: transparent;
  color: white;
}

#footer-row{
  vertical-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

#ieee{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

