.bg{
  background-image: url("img/BG.jpg");
  background-position: center;
  background-size: cover;
  background-color: #843ba1;
}


#main-title{
  color: white;
  text-align: center;
  margin-top: 10%;
}

#Enigma{
  font-family: "ZCOOL KuaiLe";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

  font-size: 500%;
}

#sub-title{
  color: white;
  text-align: center;
}

#about{
  font-family: "ZCOOL KuaiLe";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  font-size: 100%;
}

#button-sec{
  text-align: center;
  color: purple;
}

#btn-row{
  margin-top: 2%;
}


#p-btn{
  font-family: "Titillium Web";
  font-size: 120%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0% 0% 0% 0%;
}

#btn1{
  background-color: white;
  transition-duration: 0.5s;
  transform-style: ease-in-out;
  color: #843ba1;
  vertical-align: center;
  align-items: center;
}

#btn1:hover{
  background-color: #843ba1;
  color: white;
}

#logo{
  align-items: center;
  vertical-align: bottom;
}

#IEEE{
  width: 10%;
  height: 10%;
}