body
{
	scroll-snap-type: y mandatory;
	overflow-y: scroll;

}
#one
{
	background-color: #E84342;
	color: #fff;
	text-align: center;
	height:100vh;
	scroll-snap-align:start;

}
#two
{
	background-color:#0A79DF;
	color: #fff;
	text-align: center;
	height:100vh;
	scroll-snap-align:start;
}
#three
{
	background-color:rgb(54,152,85);
	color: #fff;
	text-align: center;
	height:100vh;
	scroll-snap-align:start;
}
#four
{
	background-color: rgb(253,188,74);
	color: #fff;
	text-align: center;
	height:100vh;
	scroll-snap-align:start;
}