<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODO app</title>
    </head>
    <body style="background-color:antiquewhite">
        <div class="row">
            <div class="container" 
            style="padding: 2% 2% 2% 2%;background-color: rgb(53, 29, 0)">
                <h1 class="display-1">TODO <small style="font-size:1rem">By-Sarthak</small></h1>
            </div>
        </div>
        <ul>
            {% for item in todo_items %}
            <li>{{ item.content }}
                <form action="/deleteTodo/{{item.id}}/" 
                style="display:inline"
                method="post">
                {% csrf_token %}
                    <input type="submit" value="Delete"/>
                    <br>
                </form>
            </li>
            {% endfor %}
        </ul>

        <form action="/addTodo/" method="post" >
        <!--This is added for security-->{% csrf_token %}
            <input type="text" name="content">
            <input type="submit" value="Add">
            <!--form contains only one attribute that is content
            whenever the user hits the 'Add' button the attributes in the 
        form will be posted on the action url-->
        </form>
    </body>
</html>