.bg {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    background-image: linear-gradient(172deg, #110c22 33%, #681450);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

#one
{
    text-align: center;
    height:100vh;
    scroll-snap-align:start;
}

#two
{
    text-align: center;
    height:100vh;
    scroll-snap-align:start;
}


#three
{
    text-align: center;
    height:100vh;
    scroll-snap-align:start;
}



#nav-top {
    z-index: 1;
}

#enigma-on-nav-box{
    padding-top: 7vh;
    float: right;
    width: 40%;
}

#enigma-on-nav {
    width: 80%;
    height: auto;
}

#nav-top-ul {

}

#nav-top-li {

}


.side-col {
    display: none;
}

.enigma-man-box {
    width: 40vh;
    height: auto;
    margin-top: 20vh;
}

#enigma-man {
    z-index: 1;
    width: 40vh;
}

#enigma-logo {
    z-index: 2;
    margin-top: -15vh;
    width: 40vh;
}

#login-btn {
    margin-top: 2vh;
    padding: 1vh 1vh 1vh 1vh;
    border: 2px solid black;
    border-radius: 10px;

    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
}

.ieee-logo-box {
    width: 100%;
    height: auto;
    margin-top: 0vh;
}

#ieee-logo {

    margin-top: 5vh;
    width: 30%;
}

.about-enigma-box {
    width: 20vh;
    height: auto;
    padding-top: 15vh;
}

#what-logo {
    display: none;
}

#about-logo {
    width: 20vh;
    padding: 6px;
    border-bottom: 4px white solid;
    margin: auto;
}

.about-text-box {
    opacity: 100%;
    width: 100%;
    height: auto;
    margin-top: 1vh;
    border: 4px solid white;
    border-radius: 20px;
    padding: 5px;
}

#about-text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3vh;
    letter-spacing: 0.5vh;
    word-spacing: 1vh;
    text-align: center;
    color: #ffffff;
    object-fit: contain;
    word-break: break-word;
}

.mark-icon-box {
    width: 20vh;
    height: auto;
    padding-top: 20vh;
}

#mark-icon {
    width: 20vh;
    padding: 6px;
}

.contact-box {
    width: 90%;
    height: auto;
    padding-top: 2vh;
}

#contact-logo {
    width: 40%;
    padding: 6px;
    border-bottom: 4px white solid;
}

.contact-d {
    width: 90%;
    height: auto;
    border: 4px white solid;
    border-radius: 20px;
    padding: 5vh;
    margin-top: 1vh;
}

#facebook-logo {
    object-fit: contain;
    width: 10%;
}

#contact-link {
    text-align: center;
    font-family: sans-serif, cursive;
    font-size: 3vh;
    text-decoration: none;
}



@media only screen and (min-width: 760px) and (max-height: 1024px) {

    .bg {
        scroll-snap-type: none;
        overflow-y: scroll;

        background-image: linear-gradient(172deg, #110c22 33%, #681450);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        overflow-x: hidden;
        perspective: 2px;

        z-index: -2;
    }
    
    .parallax {
        transition-duration: 2s;
    }
    .parallax:hover {
        transform: scale(1.2);
        z-index: 1;
    }

    .parallax::after {

    }



    /* the navbar is getting compromised in width=962px height= 585px
    * also the logo on the top has positioning issues
    */
    
   #nav-top {
       height: 8vh;
   }

    #enigma-on-nav-box{
        padding: 2%;
        margin-right: 35vh;
    }

    #enigma-on-nav {
        display: none;
        width: 20vh;
        height: 5vh;
    }

   #nav-top-ul {
        margin-right: 5vh;
   }

   #nav-top-li {

   }

   #nav-top-li a {
       color: white;
       transition-duration: 0s;
       transition-timing-function: linear;
   }

    #nav-top-li a:hover {
        border-bottom: 4px solid white;
    }



    .side-col {
        display: block;
    }

    .enigma-man-box {
        width: 60vh;
        height: auto;
        margin-top: 2vh;

        align-items: center;
        justify-content: center;
    }


    #enigma-man {
        z-index: -1;
    }

    #enigma-logo {
        margin-top: -30vh;
        width: 80%;
        z-index: -1;
    }

    #login-btn {
        padding: 2vh 2vh 2vh 2vh;
        height: auto;
        margin-top: 1vh;
        border: 4px solid black;
        border-radius: 10px;
        transition: 0.5s;

        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: 24px;
    }

    #login-btn:hover {
        background-color: black;
        border: 4px solid white;
    }

    .ieee-logo-box {
        width: 100%;
        height: auto;
        margin-top: -2vh;
    }

    #ieee-logo {

        margin-top: 4vh;
        width: 20vh;
    }

    .about-enigma-box {
        display: none;
    }

    .about-text-box {
        width: 120vh;
        height: auto;
        border: none;
        padding-top: 25vh;
    }

    #what-logo {
        display: block;
        margin-top: 10vh;
        width: 20vh;
    }

    #about-text {
        font-family: 'Titillium Web', sans-serif;
        font-size: 3vh;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 4vh;
        letter-spacing: 1vh;
        word-spacing: 1vh;
        text-align: center;
        color: #ffffff;
        object-fit: contain;
        word-break: break-word;
    }

    .mark-icon-box {
        width: 60%;
        height: auto;
        padding-top: 10vh;
    }

    #mark-icon {
        width: 40%;
        padding: 6px;
    }

    .contact-box {
        width: 50%;
        height: auto;
        padding-top: 2vh;
    }

    #contact-logo {
        width: 20%;
        padding: 6px;
        border-bottom: 4px white solid;
    }

    .contact-d {
        width: 90%;
        height: auto;
        border: 4px solid white;
        border-radius: 20px;
        padding: 5vh;
        margin-top: 2vh;
    }

    #facebook-logo {
        object-fit: contain;
        width: 8%;
    }

    #contact-link {
        text-align: center;
        border-radius: 2px;
        font-family: sans-serif, cursive;
        font-size: 36px;
        letter-spacing: 4px;
        word-spacing: 10px;
        margin: auto;
        text-decoration: none;
    }
}