.bg {
    scroll-snap-type: none;
    overflow-y: hidden;

    background-image: linear-gradient(172deg, #110c22 33%, #681450);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-x: hidden;
    perspective: 2px;

    z-index: -2;
}

#one
{
    text-align: center;
    height:100vh;
    scroll-snap-align:start;
}

#nav-top {
    z-index: 1;
}

#enigma-on-nav-box{
    padding-top: 0;
    float: right;
    width: 40%;
}

#enigma-on-nav {
    width: 80%;
    height: auto;
}

#nav-top-ul {

}

#nav-top-li {

}

#center-box {
    margin-top: 40vh;
}

#login-box {
    padding: 5vh;
}

#login-box-h2 {
    margin-top: 2vh;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

#inp {
    margin-top: 2vh;
    padding: 1% 2% 1% 2%;

    background-color: rgb(0,0,0,40%);
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    height: auto;
    text-decoration: none;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    color: white;

    transition-duration: 0.5s;

}

#inp:hover {
    background-color: black;
}

#signin-btn {
    margin-top: 2vh;

    color: white;
    border: 2px solid black;
    background-color: rgb(0,0,0,40%);
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;

    transition: 0.5s;
}

#signin-btn:hover {
    background-color: black;
}

#login-p {
    padding-top: 2vh;
    text-align: right;
    color: white;
}

#sign-up {
    background-color: rgb(0,0,0,40%);
}

#pop-down {
    background-color: black;
    padding: 2vh;
}

#pop-head {
    padding: 1vh;
}

#sign-up-h {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
}

#pop-body {
    padding: 1vh;
}

#Sign-up-form {
    padding: 1vh;
}

#Sign-up-form input {
    padding: 1% 2% 1% 2%;
    margin-top: 2vh;

    color: white;
    background-color: rgb(255,255,255, 20%);
    border: 1px solid white;
    border-radius: 15px;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;

    transition-duration: 0.5s;
}

#Sign-up-form input:hover {
    color: black;
    background-color: rgb(255,255,255);
}

#form-btn {
    margin-top: 2vh;

    background-color: rgb(255,255,255, 40%);
    border-radius: 15px;
    border: 1px solid white;
    font-family: 'Titillium Web', sans-serif;

    transition-duration: 0.5s;
}

#form-btn:hover {
    background-color: white;
}

#ieee-logo {
    width: 40%;
    height: auto;
    background-size: cover;
}





@media only screen and (min-width: 760px) and (max-height: 1024px) {

    .bg {
        scroll-snap-type: none;
        overflow-y: hidden;

        background-image: linear-gradient(172deg, #110c22 33%, #681450);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        overflow-x: hidden;
        perspective: 2px;

        z-index: -2;
    }

    #one
    {
        text-align: center;
        height:100vh;
        scroll-snap-align:start;
    }

    #nav-top {
        background: transparent;
        z-index: 1;
        height: 8vh;
    }

    #enigma-on-nav-box {
        padding: 1vh 1vh 1vh;
        margin-right: 51%;
        width: 40%;
    }

    #enigma-on-nav {
        display: block;
        width: 20vh;
        height: 5vh;
    }

    #nav-top-ul {
        padding-right: 5vh;
    }

    #nav-top-li {

    }

    #nav-top-li a {
        padding: 1vh 1vh 1vh 1vh;
        margin-left: 5vh;
        color: white;
        transition-duration: 0s;
        transition-timing-function: linear;
    }

    #nav-top-li a:hover {
        border-bottom: 4px solid white;
    }

    #center-box {
        margin-top: 40vh;
    }

    #login-box {
        padding: 5vh;
    }

    #login-box-h2 {
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
    }

    #inp {
        margin-top: 2vh;
        padding: 1% 3% 1% 3%;

        background-color: rgb(0,0,0,40%);
        border: 1px solid black;
        border-radius: 15px;
        width: 100%;
        height: auto;
        text-decoration: none;
        text-align: left;
        font-family: 'Titillium Web', sans-serif;
        color: white;

        transition-duration: 0.5s;

    }

    #inp:hover {
        background-color: black;
    }

    #signin-btn {
        margin-top: 2vh;

        color: white;
        border: 2px solid black;
        background-color: rgb(0,0,0,40%);
        border-radius: 15px;
        text-decoration: none;
        font-family: 'Titillium Web', sans-serif;

        transition: 0.5s;
    }

    #signin-btn:hover {
        background-color: black;
    }

    #login-p {
        padding-top: 2vh;
        text-align: right;
        color: white;
    }

    #sign-up {
        background-color: rgb(0,0,0,40%);
    }

    #pop-down {
        background-color: black;
        padding: 2vh;
    }

    #pop-head {
        padding: 1vh;
    }


    #sign-up-h {
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: 32px;
    }

    #pop-body {
        padding: 1vh;
    }

    #Sign-up-form {
        padding: 1vh;
    }

    #Sign-up-form input {
        padding: 1% 2% 1% 2%;
        margin-top: 2vh;

        color: white;
        background-color: rgb(255,255,255, 20%);
        border: 1px solid white;
        border-radius: 15px;
        font-family: 'Titillium Web', sans-serif;
        width: 100%;

        transition-duration: 0.5s;
    }

    #Sign-up-form input:hover {
        color: black;
        background-color: rgb(255,255,255);
    }

    #form-btn {
        margin-top: 2vh;

        background-color: rgb(255,255,255, 40%);
        border-radius: 15px;
        border: 1px solid white;
        font-family: 'Titillium Web', sans-serif;

        transition-duration: 0.5s;
    }

    #form-btn:hover {
        background: white;
    }

    #ieee-logo {
        width: 40%;
        height: auto;
        background-size: cover;
    }

}