.landingHeading {
    margin: 0px auto 10px auto;
}

.wrappedContainer {
    height: auto;
    justify-content: start;
    align-items: flex-start;
    padding: 20px 20px;

    margin-bottom: 60px;
}

.aboutMeBody {
    margin: 10px;
    text-align: justify;
    word-wrap: break-word;
}

.whatIDoChipContainer {
    padding: 20px;
}

.whatILoveChips {
    margin: 10px;
}

.projectContainer {
    padding: 20px 0px;
}

.projectTitle {
    margin-left: 20px;
}

.projectCar {
}

.projectCI {
}

.projectCard {
    margin: 0px 20px;
}

.cardActions {
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 10px;
}

.cardButtons {
    margin-right: 5px;
    margin-left: 5px;
}

.socialMediaLinksContainer {
    padding: 20px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .H4 {
      font-size: 64px;
    }
}
