.bg {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

#one
{
    background-image: linear-gradient(172deg, #110c22 33%, #681450);
    text-align: center;
    height:100vh;
    scroll-snap-align:start;
}

#two
{
    background-image: linear-gradient(172deg, #681450 33%, #110c22);
    background-color: white;
    text-align: left;
    top: 0vh;
    height:100vh;
    scroll-snap-align:start;
}

#three
{
    background-image: linear-gradient(172deg, #110c22 33%, #681450);;
    text-align: center;
    height:100vh;
    scroll-snap-align:start;
}

.side-col {
    display: none;
}

.enigma-man-box {
    width: 90%;
    height: auto;
    margin-top: 20vh;
}

#enigma-man {
    width: 100%;
}

#enigma-logo {
    margin-top: -15vh;
    width: 100%;
}

#ieee-logo {
    margin-top: 15vh;
    width: 30%;
}

.about-enigma-box {
    width: 90%;
    height: auto;
    padding-top: 20vh;
}

#about-logo {
    width: 40%;
    padding: 6px;
    border-bottom: 4px white solid;
}

.about-text-box {
    width: 90%;
    height: auto;
    margin-top: 1vh;
    border: 4px solid white;
    padding: 16px;
}

#about-text {
    font-family: TitilliumWeb;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    object-fit: contain;
    word-break: break-word;
}





@media only screen and (min-width: 780px) and (max-height: 1000px) {

    .col-2-md {
        display: flex;
    }


}